*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes loadingFade {
  0%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(-4px);
  }
}
